<!DOCTYPE html>
<html>
<head>
    <title>AI Scientist Demo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="{{url_for('static', filename='script.js')}}"></script>

</head>
<body>
    <h1>AInstein</h1>
    <p>Enter a problem below: </p>
    <div> 
        <form id="form" action="{{url_for("page_home") }}" method="post">

        <form id="nested-frm">
            <input type="text" id="problem-in" name="input" placeholder="Enter a problem">
            <button id="btn" type="submit">Submit</button>
        </form>
    </div>
    <div id="output">
        <p>Output: </p>
        <p id="output-text"></p>
    </div>
    <div class="container" id="find-drugs">
        <p>Find drugs that treat a disease</p>
        <p id="find-drugs-text"></p>
    </div>
    <div class ="container">
        <p>World model</p>
        replace with world model text
        <p id="world-model"></p>
    </div>
</body>
</html>